@import 'variable.scss';

.card {
  background-color:  #252737;
  width: 450px;
  min-height: 500px;
  margin: auto;
  margin-left: 56px;
  padding: 0px 63px 0px 18px;
  @media (max-width: 700px) {
    // flex-direction: column;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 20px;
    width: 100%;

   }
  .card_header {
    width: 100%;
    min-height: 204px;
    h1 {
      font-size: 56px;
      color: $color-light;
      font-weight: 300;
      @media (max-width: 700px) {
        // flex-direction: column;
        font-size: 46px;
       }
    }

  }
  .card_mid_section {
    width: 100%;
    margin-top: 40px;
    min-height: 210px;
    // background-color: aqua;
    @media (min-width: $screen-length-bar-1) {
      width: 110%;
    }
    @media (min-width: $screen-length-bar-2) {
      width: 120%;
    }
    @media (max-width: 700px) {
      margin-top: 15px;
      font-size: 16px;
     }
    .para_1 {
      font-size: 18px;
      color: $color-light;
      @media (max-width: 700px) {
        
        font-size: 16px;
       }
      @media (min-width: $screen-length-bar-1) {
        font-size: 20px;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 22px;
      }
    }
    .para_2 {
      font-size: 18px;
      color: $color-light;
      @media (max-width: 700px) {
        
        font-size: 16px;
       }
      @media (min-width: $screen-length-bar-1) {
        font-size: 20px;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 22px;
      }
    }
  }
  .card_bottom {
    // background-color: beige;
    margin-left: -4%;
    margin-top: 10%;
    @media (max-width: 700px) {
      margin-top: 15px;
      margin-bottom: -4px;
      padding-bottom: 26px;
     }
    @media (min-width: $screen-length-bar-1) {
      transform: scale(1.3);
      margin-left: 8%;
      margin-top: 15%;
    }
    @media (min-width: $screen-length-bar-2) {
      transform: scale(1.5);
      font-size: 36px;
      margin-left: 15%;
      margin-top: 20%;
    }
    // border: 2px solid red;
  }
}
