@import 'variable.scss';

.extendedList {
  width: 100%;
  background: $color-entendedList;
  padding: 39px 46px;
  border-bottom: 2px solid $color-background-1;
  transition: all 0.3s ease-in-out;
  @media (max-width: 700px) {
    padding:14px 14px;
  } 
  .extendedList_Container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 500;
    @media (max-width: 700px) {
      flex-direction: column;
    } 
    .list_value {
      color: $color-primary;
      width: 5%;
      @media (max-width: 700px) {
        font-size: 33px;
      } 
      @media (min-width: $screen-length-bar-1) {
        font-size: 34px;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 36px;
      }
    }
    .list_heading {
      width: 81%;
      font-size: 32px;
      color: $color-light;
      @media (min-width: $screen-length-bar-1) {
        font-size: 34px;
      }
      @media (max-width: 700px) {
        font-size: 33px;
      } 
      @media (min-width: $screen-length-bar-2) {
        font-size: 36px;
      }
    }
    .extended_btn {
      cursor: pointer;
      margin-top: 20px;
      width: 9%;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 700px) {
        display: none;
      } 
      @media (min-width: $screen-length-bar-1) {
        height: 52px;
        width: 52px;
        font-size: 1.3rem;
      }
      @media (min-width: $screen-length-bar-2) {
        height: 56px;
        width: 56px;
        font-size: 1.5rem;
      }
    }
  }
  .list_para {
    width: 80%;
    margin: 0% 10%;
    // border: 2px solid red;
    transition: height 0.3s ease-in-out;
    @media (max-width: 700px) {
      font-size: 14px;
      margin: 0% 0%;
    } 
    @media (min-width: $screen-length-bar-1) {
      margin: 0% 9.5%;
      font-size: 20px;
    }
    @media (min-width: $screen-length-bar-2) {
      margin: 0% 10%;
      font-size: 22px;
    }
    p {
      color: $color-light;
      font-size: 18px;
      margin: 0px;
      @media (max-width: 700px) {
        font-size: 14px;
        text-align: left;
      } 
      @media (min-width: $screen-length-bar-1) {
        font-size: 20px;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 22px;
      }
    }
  }
}

.list_para_parent {
  transition: max-height 0.3s ease-in-out;
  
  &__true {
    height: 80px;
    transition: height 0.35s ease;
    overflow: hidden;
    max-height: 500px;
    @media (max-width: 700px) {
      height: 120px;
    }
  }
  &__false {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
  }
  p {
    text-align: left;
  }
}
