@import 'variable.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  @media (min-width: $screen-length-bar-1) {
    padding: 50px 100px;
  }
  @media (min-width: $screen-length-bar-2) {
    padding: 70px 140px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 20px;
    
  }
  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: auto;
    @media (max-width: 700px) {
      justify-content: space-around;
      margin-top: 20px;
    }
    // border: 2px solid red;
    @media (min-width: $screen-length-bar-1) {
      min-width: 350px;
    }
    @media (min-width: $screen-length-bar-2) {
      min-width: 380px;
    }
    .Logo_container {
      @media (min-width: $screen-length-bar-1) {
        transform: scale(1.1);
      }
      @media (min-width: $screen-length-bar-2) {
        transform: scale(1.3);
      }
    }
    .socialLinks_container {
      @media (min-width: $screen-length-bar-1) {
        transform: scale(1.4);
      }
      @media (min-width: $screen-length-bar-2) {
        transform: scale(1.5);
      }
    }
  }
  .footer_right_item {
    width: 260px;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    @media (min-width: $screen-length-bar-1) {
      width: 280px;
      transform: scale(1.2);
    }
    @media (max-width: 700px) {
      width: 100%;
      justify-content: space-around;
      margin-top: 30px;
    }
    @media (min-width: $screen-length-bar-2) {
      width: 300px;
      transform: scale(1.4);
    }
    .footer_right_semi_left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        color: $color-light;
        opacity: 0.5;
        font-weight: 400;
      }
    }
    p {
      color: $color-light;
      opacity: 0.5;
      font-weight: 400;
      font-size: 14px;
      @media (min-width: $screen-length-bar-1) {
        font-size: 16px;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 18px;
      }
    }
  }
}
