@import 'variable.scss';

.header {
  // border: 2px solid red;
  display: flex;
  justify-content: space-between;
  color: $color-light;
  padding: 25px 50px;
  z-index: 2;
  @media (min-width: $screen-length-bar-2) {
    margin-right: 2%;
  }
  @media (max-width: 700px) {
    // border: 2px solid blue;
    padding: 30px 30px;
  }
  // border: 2px solid red;
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.4%;
    @media (min-width: $screen-length-bar-1) {
      transform: scale(1.2);
      margin-left: 2%;
    }
    @media (min-width: $screen-length-bar-2) {
      transform: scale(1.4);
      margin-left: 3%;
      
    }
    @media (max-width: 700px) {
      // background-color: azure;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .itemLeft {
    min-width: 450px;  
    max-width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $screen-length-bar-1) {
      min-width: 30%;
    }
    @media (min-width: $screen-length-bar-2) {
      min-width: 30%;
    }
    @media (max-width: 700px) {
      min-width: 50%;
      // width: 100px;
      // background-color: orange;
      justify-content: flex-end;
    }
    p {
      font-size: 18px;
      cursor: pointer;
      font-weight: 500;
      @media (min-width: $screen-length-bar-1) {
        font-size: 1.4rem;
      }
      @media (min-width: $screen-length-bar-2) {
        font-size: 1.6rem;
      }
      @media (max-width: 700px) {
        display: none;
      }
    }
    .btn_container {
      @media (min-width: $screen-length-bar-1) {
        transform: scale(1.2);
      }
      @media (min-width: $screen-length-bar-2) {
        transform: scale(1.4);
      }
    }
  }
  .header_right {
    display: flex;
    align-items: flex-end;
    // background-color: aquamarine;
    @media (min-width: $screen-length-bar-1) {
      transform: scale(1.2);
    }
    @media (min-width: $screen-length-bar-2) {
      transform: scale(1.4);
    }
    @media (max-width: 700px) {
      display: none;
    }
  }
}
