@import 'variable.scss';

.container {
  background: $color-background-1;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  z-index: 2;

.leftstar {
  position: absolute;
  height: 377px;
  top:16%;
  left: -40px;

  @media screen and (min-width: 2100px) {
    top:19%;
  }

  @media (max-width: 1450px) {
    top:24%;
  }

  @media (max-width: 700px) {
    display: none;
  }

}
  
  .midSubContainer {
    // overflow-x: hidden;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 700px) {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }
    .midSubContainerChild1 {
      position: relative;
      width: 45%;
      padding-left: 2%;
      @media (max-width: 700px) {
        // background-color: bisque;
        width: 100%;
      }
      .star2 {
        position: absolute;
        height: 337px;
        width: 337px;
        left: -95px;
        transform: rotate(0deg);
        z-index: -1;
        top: 440px;
        // border: 2px solid red;
        @media (max-width: 700px) {
         top: 300px;
         height: 117px;
         width: 17px;
         right: -125px;
        }
        transition: all 0.3s ease-in-out;
        @media (max-width: 1380px) {
          top: 530px;
        }
        // @media (max-width: 700px) {
        //   top: 300px;
        //   height: 117px;
        //   width: 17px;
        //   right: -125px;
        //  }
        @media (min-width: $screen-length-bar-1) {
          top: 480px;
          height: 457px;
          width: 457px;
          left: -125px;
        }
        @media (min-width: $screen-length-bar-2) {
          top: 540px;
        }
      }
      .midSubContainerChild1_h1 {
        width: 84%;
        padding: 0% 9%;
        color: $color-light;
        text-shadow: $color-secondary -2px 2px 2px;
        @media (min-width: $screen-length-bar-1) {
          padding: 0% 8%;
          width: 80%;
        }
        @media (min-width: $screen-length-bar-2) {
          padding: 0% 8%;
          width: 75%;
        }
        h1 {
          font-size: 72px;
          margin-bottom: 15px;
          font-weight: 400;
          margin-top: 15px;
          @media (min-width: $screen-length-bar-1) {
            font-size: 85px;
          }
          @media (min-width: $screen-length-bar-2) {
            font-size: 90px;
          }
          @media (max-width: 700px) {
            font-size: 48px;
            margin-bottom: 10px;
          }
        }
      }
      .midSubContainerChild1_p {
        width: 79.9%;
        height: auto;
        padding: 0% 9%;
        color: $color-light;
        @media (max-width: 700px) {
          width: 100%;
        }
        p {
          font-size: 18px;
          width: 100%;
          line-height: 150%;
          text-align: left;
          margin: 25px 0px;
          @media (min-width: $screen-length-bar-1) {
            font-size: 20px;
            width: 525px;
          }
          @media (min-width: $screen-length-bar-2) {
            font-size: 22px;
            width: 565px;
          }
          @media (max-width: 700px) {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
      .midSubContainerChild1_btn {
        margin-top: 55px;
        width: 79.9%;
        height: auto;
        padding: 0% 9%;
        height: 72px;
        color: $color-light;
        @media (min-width: $screen-length-bar-1) {
          margin-top: 7%;
          padding: 0% 14%;
          transform: scale(1.2);
        }
        @media (min-width: $screen-length-bar-2) {
          margin-top: 9%;
          padding: 0% 16%;
          transform: scale(1.3);
        }
      }
      p {
        width: 400px;
        text-align: left;
        margin: 0px;
      }
    }
    .midSubContainerChild2 {
      width: 55%;
      position: relative;
      @media (max-width: 700px) {
        width: 100vw;
        position: relative;
        // background: red;
        display: flex;
        align-items: center;
        justify-content: center;
       }
      img {
        border-radius: 3.9%;
        height: 100%;
        width: 95%;
        -webkit-box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
        -moz-box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
        box-shadow: -60px 70px 119px -61px rgba(48, 36, 93, 1);
      }
      .star1 {
        transform: rotate(90deg);
        position: absolute;
        height: 243px;
        width: 243px;
        top: 30px;
        left: -70px;
        z-index: -1;
        background-color: transparent;
        box-shadow: none;
        @media (max-width: 700px) {
          top: -180px;
          left: 90%;
          // right: -100px;
          // background: pink;
          z-index: -1;
          height: 179px;
          width: 179px;
          // display: none;
         }
      }
    }
  }
  .bottom_container {
    width: 95%;
    margin: auto;
    background: $color-background-1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: flex;
    margin-top: 18%;
    @media (max-width: 700px) {
      width: 100%;
      margin-left: 0px;
      padding-left: 0px;
    }
    @media (min-width: $screen-length-bar-1) {
      margin-top: 12%;
    }
    @media (min-width: $screen-length-bar-2) {
      margin-top: 15%;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      margin-left: 0px;
      margin: 0px;
     }
    .bottom_container_card {
      background-color: #252737;
      padding: 10px;
      width: 35%;
      @media (max-width: 700px) {
        padding: 0px;
        width: 100%;
        
      }
    }
    .List_Container {
      width: 65%;
      @media (max-width: 700px) {
        width: 100%;
       }
    }
    margin-bottom: 80px;
  }
}
// .homeStar {
//   // display: none;
//   position: absolute;
//   width: 180px;
//   height: 180px;
//   top: 500px;
//   right: -100px;
// }
